/* For Everything */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lexend, sans-serif;
    -webkit-user-drag: none;
    -moz-window-dragging: none;
    /* cursor: none; */
    scroll-behavior: smooth;
}

:root {
    --nav-height: 3em;
    --head-height: 700px;
    --h1-size: 6em;
    --h2-size: calc(var(--h1-size) / 2);
    --h3-size: calc(var(--h1-size) / 3.5);
    --p-size: calc(var(--h1-size) / 4.5);
    --nav-size: calc(var(--h1-size) / 4);
    --section-width: 65%;
}

html, body {
    background-color: black;
    color: white;
}

/* Universal CSS */

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
    margin: 30px 0;
}

h3 {
    font-size: var(--h3-size);
}

p {
    font-size: var(--p-size);
}

.uniUl {
    font-size: var(--h3-size);
    li {
        padding-top: 10px;
    }
}

section {
    width: var(--section-width);
    margin: auto;
}

@media (max-width: 850px) {
    section {
        width: 100%;
    }

    h1, h2 {
        text-align: center;
    }
}

/* Nav */
#navigation {
    z-index: 98;
    position: fixed;
    width: 100vw;
    height: var(--nav-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid white;
    background-color: black;
    padding: 0 5%;
    font-size: var(--nav-size);
    box-shadow: white 0 0 25px;
    transition: transform ease-in-out 0.2s;
}

#navigation a {
    text-decoration: none;
    color: white;
}

.hidden {
    transform: translateY(calc(-1 * var(--nav-height) + 2px));
}

.navLogo {
    display: block;
    width: max-content;
    height: calc(var(--nav-height) * 0.4);
    z-index: 98;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
}

/* Header */
#head {
    width: 100%;
    height: var(--head-height);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#headLogo {
    height: 15%;
    margin-bottom: 20px;
}

/* Sections */

/* Tým */
.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    width: 100%;
}

.team-member {
    flex: 1 1 48%;
    gap: 15px;
    min-width: 480px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.team-member.right {
    flex-direction: row-reverse;
    text-align: right;
}

@media (max-width: 850px) {
    .team-list {
        flex-direction: column;
    }
    .team-member,
    .team-member.right {
        flex-direction: column !important;
        align-items: center;
        text-align: center;
        gap: 15px;
        padding-bottom: 35px;
        min-width: 0;
    }
}

.team-member img {
    width: 250px !important;
    height: 250px !important;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 15%;
}

/* Custom Cursor */
.custom-cursor {
    display: none;
    position: fixed;
    pointer-events: none;
    z-index: 99;
    top: 0;
    left: 0;
    transition: ease-in-out;
    mix-blend-mode: difference;
}

.site-wide .pointer {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: width 200ms, height 200ms;
    background-color: white;
}

.site-wide .pointer.active {
    width: 10px !important;
    height: 10px !important;
}

.site-wide .pointer.hover {
    width: 50px;
    height: 50px;
}

.site-wide .pointer.headHover {
    width: 200px;
    height: 200px;
}

.site-wide .text {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 0;
    top: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    transition: width 200ms, height 200ms;
}

/* I want to try out to create a dot cursor but when you hover over anything clickable it changes to a circle cursor with a dot inside */

